*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}

.page-actions-cont{
    height: 3rem;
    background-color: #1abc9c;
    display: flex;
    gap:0.5rem;
    align-items: flex-end;
    padding-left: 1.5rem;
    color:#fff;
    font-size:17px;
}

.cellprops-actions-cont{
    height : 3rem;
    background-color:#ecf0f1;
    display: flex;
    gap:1rem;
    align-items: center;
    padding-left:1.5rem;
}
.cellprops-actions-cont >*:hover{
    cursor: pointer;
}
.font-family-prop,
.font-size-prop
{
    padding:0.3rem;
    border: none;
    border-radius: 5px;
    outline:none;
}
.Formula-actions-cont{
    height: 3rem;
    background-color:#ecf0f1;
    position: relative;
    display: flex;
    align-items: center;
}

.sheet-actions-cont{
    height:3rem;
    background-color:#ecf0f1;
    display: flex;
    align-items: center;
    padding-left:0.5rem;
    gap:5px;
}
.formula-icon{
    height: 1.5rem;
    margin:0.5rem;
    outline: none;
}
.address-bar{
    padding: 0.5rem;
    width: 5rem;
    margin-left: 1.5rem;
    outline: none;
    border: none;
    font-size: 16px;
    text-align: center;
}

.formula-bar{
    padding: 0.5rem;
    width: calc(100vw - 5rem - 0.5rem);
    outline: none;
    border: none;
    font-size: 16px;
}

.sheets-folder-cont{
    padding:0.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    overflow: auto;
    scrollbar-width: thin;
}
.sheet-folder{
    font-weight: bold;
    text-decoration: underline;
    font-size: 17px;
    cursor: pointer;
}

.grid-cont{
    height:calc(100vh - 3rem - 3rem - 3rem - 3rem);
    position: relative;
    overflow: auto;
    background-color:#ecf0f1;
}
.top-left-dummy{
    height:40px;
    width: 40px;
    background-color: #7f8c8d;
    position: fixed;
    z-index: 10;
}

.address-col-cont{
    position: sticky;
    top:2.5rem;
    left: 0;
}

.address-row-cont{
    display: flex;
    border: 1px solid #dfe4ea;
    position: sticky;
    top: 0;
    left: 2.5rem;
    z-index: 1;
}
.page-action{
    margin:0.5rem;
}

.cells-cont{
    position: absolute;
    left:2.5rem;
    top:0;
}
.addresscol{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfe4ea;
}
.addressrow{
    height: 2.3rem;
    width: 6rem;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridboxes{
    height: 2rem;
    width: 6rem;
    border: 1px solid #dfe4ea;
    outline: none;
}
.gridLines{
    border: 1px solid #dfe4ea;
    display: flex;
    height: 2.5rem;
}

.color,.bgcolor{
    position: relative;
}
.color > input,
.bgcolor>input{
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.add-icon{
    cursor: pointer;
}